@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Passion+One:400");



:root {
    font-size: 16px;
    font-family: 'Source Sans Pro';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #2c2c32;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: whitesmoke;
    background-color: #202024;
    margin: 0;
    padding: 0;
  }
  
 
  main {
    margin-left: 16rem;
    margin-right: 11rem;
    padding: 2rem;
  }
  
  .navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: 100ms ease;
    
    
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: none;
  }
  
  .nav-item {
    width: 100%;
  }

  .nav-important {
    width: 100%;
  }

  .nav-logoimportant {
    width: 100%;
  }

  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: opacity(1);
    transition: 600ms;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 2rem;
    
  }
  
/* IMGAGES */
  .image {
    width: 3rem;
    height: 3rem;
    margin-left: 16px;
    border-radius: 10px;
  }

  .image:hover {
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2);
    transition: all 0.15s ease-in-out 0.2s;
  }

  .imagelogo {
    width: 4rem;
    height: 4rem;
    margin: 1.5rem;
    margin-left: 8px;
  }

  .imagelogo:hover {
    -ms-transform: scale(1.3,1.3); /* IE 9 */
    -webkit-transform: scale(1.3,1.3); /* Safari */
    transform: scale(1.3,1.3);
    transition: all 0.15s ease-in-out 0.2s;
  }

  




 
 /* LOGO */ 
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background:#2c2c32;
    font-size: 2rem;
    letter-spacing: 0.3ch;
    width: 100%;
    opacity: 1;
  }
  
 
  
  .logo-text
  {
    font-family: 'Source Sans Pro';
    display: inline;
    position: absolute;
    left: -200px;
    transition: var(--transition-speed);
  }

  
  
 
  
 
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
      width: 5rem;
      height: 100vh;
    }

    .nav-logoimportant
    {
      display: none;
    }
    .nav-important {
      display: none;
    }
  
    .navbar:hover {
      width: 16rem;
        
    }

    .navbar:hover .link-text{
        width: 16rem;
        left: 50px;
        transition: 300ms;
      }
    
  
    .navbar:hover .link-text {
        position: absolute;
        display: inline;
      
      
    }
  
    .navbar:hover .logo .imagelogo 
    {
      margin-left: 10rem;
    }
  
    .navbar:hover .logo-text 
    {
       
        left: 20px;
      
    }
    .navbar:hover .imagelogo 
    {
       
        left: 20px;
      
    }
   
  
  }
  
  @media only screen and (min-width: 600px) and (max-width: 1280px) {
    main {
      margin-left: 5rem;
      margin-right: 0;
  }
  }
 
   /* Small screens */
   @media only screen and (max-width: 600px) {
    .navbar {
      top: 0;
      width: 100vw;
      height: 5rem;
     
    }
  
    .nav-item {
      display: none;
    }
    .logo {
      display: none;
    }
    .navbar-nav {
      flex-direction: row;
    }
    
    .nav-important {
      
      font-size: larger;
      font-style: bold;
      font: optional;
     
    }
    
    .nav-link {
     justify-content: space-around;
    }

    .nav-link:first-child {
      margin-left: 0;
    }
  
    main {
      margin-top: 3rem;
    }
    
    main {
        margin-left: 0;
        margin-right: 0;
    }
  }
  


body::-webkit-scrollbar {
    width: 0.9rem;
}
body::-webkit-scrollbar-track {
    background: #373749;
    margin-top: -10px;
    margin-bottom: -10px;
}
body::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 1em;

    
}